<% content_for :title do %>
  Edit Screen
<% end %>
<div class="columns is-centered met-6">
  <div class="column is-one-third">
    <h1 class="has-text-weight-bold mb-3">Editing Entry</h1>
    <%= render 'form', entry: @entry %>
  </div>
</div>

