<h3 class="is-size-4 has-text-weight-bold mb-4 mt-6 has-text-centered">
  Welcome to foodlog, to log your meals <%= link_to signup_path do %> create an account <% end %> or <%= link_to login_path do %> login <% end %>if you already have one
</h3>